@using Microsoft.FluentUI.AspNetCore.Components
@inherits LayoutComponentBase

<div class="app">
    <FluentLayout>
        <FluentHeader Height="@(default)">
            <span style="font-weight: 400; margin-right: 0.75rem; padding-right: 0.75rem; border-right: 1px solid var(--neutral-foreground-rest);">eShopSupport</span>
            <SectionOutlet SectionName="PageTitle" />
        </FluentHeader>
        @Body
    </FluentLayout>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
