@using Microsoft.FluentUI.AspNetCore.Components
@inherits LayoutComponentBase

<div class="app">
    <FluentLayout>
        <FluentHeader Height="@(default)">
            <a href="" class="main-title">
                eShopSupport
            </a>
            <SectionOutlet SectionName="PageTitle" />
            <span class="theme-picker">
                <ThemePicker />
            </span>
        </FluentHeader>
        @Body
    </FluentLayout>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>