<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="CustomerWebUI.styles.css" />
    <link rel="icon" type="image/png" href="images/favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
</body>

</html>
