@page "/support"

<PageTitle>Support | AdventureWorks</PageTitle>
<SectionContent SectionName="page-header-title">Support</SectionContent>

<div class="page-gutters">
    <h1>We're here to support your adventure</h1>
    <p>
        If you have questions about our products, or are experiencing
        troubles with anything you bought from us, just send us a message.
    </p>

    <a class="start-button" href="support/new">Get started</a>

    <h2>Your support tickets</h2>
    <p>Nothing here yet.</p>

    <a class="start-button" href="support/new">Start a new ticket</a>
</div>
