@page "/"
@using eShopSupport.ServiceDefaults.Clients.Backend
@inject BackendClient Backend

<PageTitle>Home</PageTitle>

<FluentCard>
  <h2>Hello World!</h2>
  <FluentButton Appearance="@Appearance.Accent">Click Me</FluentButton>
</FluentCard>

<h1>Hello, world!</h1>

Welcome to your new app.

<ul>
    @foreach (var ticket in tickets ?? [])
    {
        <li>@ticket.TicketId @ticket.CustomerFullName (@ticket.NumMessages messages)</li>
    }
</ul>

@code {
    ListTicketsResult[]? tickets;

    protected override async Task OnInitializedAsync()
    {
        tickets = await Backend.ListTicketsAsync();
    }
}
