.main-grid {
    --header-height: 50px;
    --spacer-height: 20px;
}

::deep .tickets-grid {
    table-layout: fixed;
    width: 100%;
    margin-top: var(--spacer-height);
}

::deep thead {
    position: sticky;
    top: calc(var(--header-height) + var(--spacer-height));
    background: var(--neutral-fill-stealth-rest);
    z-index: 1;
}

::deep .col-title {
    font-weight: 600 !important;
}

::deep tr {
    border-bottom: calc(var(--stroke-width)* 1px) solid var(--neutral-stroke-divider-rest);
    height: 32px;
}

::deep th.ticket-id { width: 100px; }
::deep th.ticket-satisfaction { width: 140px; }
::deep th.ticket-messages { width: 140px; }
::deep th.ticket-customer { width: 1fr; }
::deep th.ticket-summary { width: 2fr; }

::deep th.ticket-id .col-title {
    justify-content: end;
}

::deep .tickets-grid tbody > tr > td,
::deep .tickets-grid thead > tr > th {
    padding: calc((var(--design-unit) + var(--focus-stroke-width) - var(--stroke-width))* 1px) 0px;
}

::deep .tickets-grid tbody > tr > td {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}

::deep .tickets-grid thead > tr > th button {
    border-radius: calc(var(--control-corner-radius)* 1px);
    color: var(--neutral-foreground-rest);
}

::deep th.col-sort-asc .sort-indicator, ::deep th.col-sort-desc .sort-indicator {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' slot='end' style='width: 24px; stroke-width:0.5px; stroke: rgb(45,156,230); fill:rgb(45,156,230)' focusable='false' viewBox='0 0 24 24' aria-hidden='true'%3E%3C!--!--%3E%3Cpath d='M11.65 4h.1c.38 0 .7.28.74.65l.01.1v12.7l3.22-3.23c.27-.26.68-.29.98-.07l.08.07c.27.27.3.69.07.98l-.07.09-4.5 4.5a.75.75 0 0 1-.97.07l-.09-.07-4.5-4.5a.75.75 0 0 1 .98-1.14l.08.07L11 17.44V4.75c0-.38.28-.7.65-.74l.1-.01h-.1Z'%3E%3C/path%3E%3C/svg%3E%0A");
    opacity: 1;
}

.opaque-spacer {
    position: fixed;
    top: var(--header-height);
    height: var(--spacer-height);
    width: 100%;
    background: var(--neutral-fill-layer-rest);
    z-index: 1;
}
