.tickets-page {
    --filter-bar-height: 3.25rem;
}

.tickets-grid-wrapper {
    height: calc(100dvh - calc(var(--header-height) + var(--filter-bar-height)));
    overflow: auto;
}

::deep .link-col {
    display: block;
    text-decoration: none;
    color: var(--neutral-foreground-rest);
    margin: -0.4rem;
    padding: 0.2rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

::deep .loader {
    height: 50vh;
}

.spacer {
    display: inline-block;
}