@using Microsoft.FluentUI.AspNetCore.Components
<div class="filter">
    <FluentTabs Style="flex-grow: 1">
        <FluentTab Label="121 Open" Icon="@(new Icons.Regular.Size20.Mail())" />
        <FluentTab Label="3722 Closed" Icon="@(new Icons.Regular.Size20.Checkmark())" />
    </FluentTabs>

    <FluentAutocomplete Width="" TOption="string" @bind-SelectedOptions="@selectedCategories"
        MaximumSelectedOptions="3" Placeholder="Filter by category" style="min-width: 12rem;" />
</div>

@code {
    private IEnumerable<string> selectedCategories = Array.Empty<string>();
}
