@using Microsoft.FluentUI.AspNetCore.Components
<div class="details-grid">
    <div>
        <FluentSelect TOption="string" Items="@TicketTypes" Label="Case type" style="width: 100%; min-width: 12rem;" />
    </div>
    <div>
        <FluentTextField Label="Customer" style="width: 100%;" Value="Name Goes Here" ReadOnly />
    </div>
    <div>
        <FluentSelect TOption="string" Items="@TicketStatuses" Label="Status" style="width: 100%; min-width: 12rem;" />
    </div>
    <div>
        <FluentAutocomplete TOption="string" Label="Product" style="width: 100%;" />
    </div>
</div>

@code {
    string[] TicketTypes = ["❔ Question", "🙁 Complaint", "📦 Returns"];
    string[] TicketStatuses = ["⏳ Open", "✅ Closed"];
}
