::deep .splitter {
    height: calc(100vh - var(--header-height));
}

    ::deep .splitter [slot='1'] {
        display: flex;
        flex-direction: column;
    }

    ::deep .splitter [slot='2'] {
        background: #3a3a3a;
        color: #cccccc;
    }

.details {
    padding: 1.5rem 1.5rem;
    background: var(--neutral-layer-1);
    box-shadow: 0px 2px 5px #0000000d;
    border-bottom: calc(var(--stroke-width)* 1px) solid var(--neutral-stroke-active);
    z-index: 2;
}

.messages {
    flex-grow: 1;
    padding: 0 1.5rem;
    background: var(--neutral-layer-3);
    overflow-y: scroll;

    /* Make the scrollbar default to being at the end, instead of the start */
    display: flex;
    flex-direction: column-reverse;
}

.write-message {
    height: 125px;
    background: var(--neutral-layer-2);
    border-top: calc(var(--stroke-width)* 1px) solid var(--neutral-stroke-active);
    flex-shrink: 0;
    padding: 1rem 1.5rem;
    box-shadow: 0px -2px 5px #0000000d;
    z-index: 1;
}

    .write-message ::deep fluent-text-area::part(control) {
        flex-grow: 1;
    }

.assistant {
    padding: 1rem 1.5rem;
}
