.messages-scroller {
    /* Make the scrollbar default to being at the end, instead of the start */
    display: flex;
    flex-direction: column-reverse;

    overflow-y: auto;
    flex-grow: 1;
}

.messages {
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem 1rem 1.25rem;
    gap: 1rem;
    align-items: flex-start;
    padding-bottom: 2rem;
    margin-bottom: auto;
}

.message {
    display: grid;
    grid-template-columns: 2rem 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "sender-icon sender-name"
        ". message";
    gap: 0.25rem 1rem;
}

    .message ::deep .initials {
        background-color: grey;
    }
    
    .message.assistant ::deep .initials {
        background-color: #d800b1;
    }

.sender-icon {
    grid-area: sender-icon;
    align-self: center;
    justify-self: center;
}

.sender-icon ::deep img {
    width: 21px !important;
}

.sender-name {
    grid-area: sender-name;
    font-size: 1rem;
    font-weight: 600;
    align-self: center;
}

.message-text {
    grid-area: message;
}

.write-message {
    height: 125px;
    flex-shrink: 0;
    padding: 1rem 1.5rem;
    box-shadow: 0px -2px 5px #0000000d;
    z-index: 1;
}

::deep fluent-text-area {
    --control-corner-radius: 20;

    /* We can't display the blue highlight at the bottom because it can't draw large on a large border radius */
    /* Notice that in real Copilot UIs it also doesn't use the blue highlight on this textarea */
    --focus-stroke-width: 0;
}

    ::deep fluent-text-area::part(control) {
        flex-grow: 1;
        background: #333131;
        color: #cfcfcf;
        border: 1px solid #5a5a5a;
        padding: 1rem;
    }

    ::deep fluent-text-area::part(control):focus {
        background: #1c1c1c;
        border-color: #777777;
        color: white;
    }

        ::deep fluent-text-area::part(control)::placeholder {
            color: #cfcfcf;
        }