@using Microsoft.FluentUI.AspNetCore.Components
<div class="messages">
    <div class="summary">
        <div class="summary-text">
            <div>💡</div>
            <div>
                <strong>Summary:</strong>
                This is a summary of the conversation. This is a summary of the conversation. This is a summary of the conversation. This is a summary of the conversation.
            </div>
        </div>
    </div>
    <div class="message customer">
        <div class="message-metadata">
            <span class="timestamp">2 days ago</span>
            <span class="filler">by</span>
            <span class="sender">D. Pilkins</span>
        </div>
        <div class="message-text">Hello</div>
    </div>
    <div class="message support">
        <div class="message-metadata">
            <span class="timestamp">2 days ago</span>
            <span class="filler">by</span>
            <span class="sender">Northern Mountains support</span>
        </div>
        <div class="message-text">Hello Hello</div>
    </div>
    <div class="message customer">
        <div class="message-metadata">
            <span class="timestamp">2 days ago</span>
            <span class="filler">by</span>
            <span class="sender">D. Pilkins</span>
        </div>
        <div class="message-text">Hello Hello Hello Hello Hello</div>
    </div>
    <div class="message support">
        <div class="message-metadata">
            <span class="timestamp">2 days ago</span>
            <span class="filler">by</span>
            <span class="sender">Northern Mountains support</span>
        </div>
        <div class="message-text">Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello</div>
    </div>
    <div class="message customer">
        <div class="message-metadata">
            <span class="timestamp">2 days ago</span>
            <span class="filler">by</span>
            <span class="sender">D. Pilkins</span>
        </div>
        <div class="message-text">Hello</div>
    </div>
    <div class="message support">
        <div class="message-metadata">
            <span class="timestamp">2 days ago</span>
            <span class="filler">by</span>
            <span class="sender">Northern Mountains support</span>
        </div>
        <div class="message-text">Hello Hello</div>
    </div>
    <div class="message customer">
        <div class="message-metadata">
            <span class="timestamp">2 days ago</span>
            <span class="filler">by</span>
            <span class="sender">D. Pilkins</span>
        </div>
        <div class="message-text">Hello Hello Hello Hello Hello</div>
    </div>
    <div class="message support">
        <div class="message-metadata">
            <span class="timestamp">2 days ago</span>
            <span class="filler">by</span>
            <span class="sender">Northern Mountains support</span>
        </div>
        <div class="message-text">Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello</div>
    </div>
</div>
