.loading-progress {
    width: 50%;
    display: grid;
    grid-gap: 12px;
    grid-auto-flow: column;
    height: 100%;
    align-items: center;
    margin: auto;
}

.messages {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    padding-bottom: 2rem;
}

.summary {
    position: sticky;
    top: 0;
    align-self: stretch;
    z-index: 1;
    margin: -1rem;
    margin-bottom: 0rem;
    border-top: 0.5rem solid var(--neutral-layer-3);
}

.summary-text {
    background-color: #393939;
    color: white;
    padding: 1rem 1.5rem 1rem 1rem;
    box-shadow: var(--elevation-shadow-card-rest);
    border-bottom: calc(var(--stroke-width)* 2px) solid var(--accent-fill-rest);
    border-radius: calc(var(--layer-corner-radius) * 0.5px);
    display: flex;
    gap: 0.5rem;
}

html.dark-mode .summary-text {
    background-color: #f3f3f3;
    color: black;
}

    .summary-text div:first-child {
        font-size: 125%;
        width: min-content;
    }

    .message:first-of-type {
        margin-top: 1rem;
    }

    .message {
        max-width: 90%;
    }

.message-text {
    background: var(--fill-color);
    color: var(--neutral-foreground-rest);
    border: calc(var(--stroke-width)* 1px) solid var(--neutral-stroke-layer-rest);
    border-radius: calc(var(--layer-corner-radius)* 2.5px);
    box-shadow: var(--elevation-shadow-card-rest);
    padding: calc(var(--design-unit)* 5px);
    white-space: pre-line;
}

.message.support {
    align-self: flex-end;
}

.message.support .message-text {
    border-color: var(--accent-fill-rest);
    background-color: var(--accent-fill-rest);
    color: var(--foreground-on-accent-rest);
}

.message-metadata {
    margin: 0 0.5rem 0.15rem 0.5rem;
    font-size: 90%;
    opacity: 0.65;
}

    .message.support .message-metadata {
        text-align: right;
    }

.message-metadata .timestamp, .message-metadata .sender {
    font-weight: 500;
}

.message-metadata .filler {
    opacity: 0.9;
}