::deep .splitter {
    height: calc(100vh - var(--header-height));
}

    ::deep .splitter [slot='1'] {
        display: flex;
        flex-direction: column;
    }

    ::deep .splitter [slot='2'] {
        background-color: color-mix(in srgb, var(--neutral-layer-2) 95%, grey);
        color: var(--neutral-foreground-rest);
    }

    html.dark-mode .ticket ::deep .splitter [slot='2'] {
        background-color: color-mix(in srgb, var(--neutral-layer-2) 70%, grey);
    }

.details {
    padding: 1.5rem 1.5rem;
    background: var(--neutral-layer-1);
    box-shadow: 0px 2px 5px #0000000d;
    border-bottom: calc(var(--stroke-width)* 1px) solid var(--neutral-stroke-active);
    z-index: 2;
}

.messages {
    flex-grow: 1;
    padding: 0 1.5rem;
    background: var(--neutral-layer-3);
    overflow-y: scroll;

    /* Make the scrollbar default to being at the end, instead of the start */
    display: flex;
    flex-direction: column-reverse;

    /* Fix subpixel text rendering glitch */
    clip-path: inset(1px 0 0 0);
}

.write-message {
    height: 125px;
    background: var(--neutral-layer-2);
    border-top: calc(var(--stroke-width)* 1px) solid var(--neutral-stroke-active);
    flex-shrink: 0;
    padding: 1rem 1.5rem;
    box-shadow: 0px -2px 5px #0000000d;
    z-index: 1;
}

    .write-message ::deep fluent-text-area::part(control) {
        flex-grow: 1;
    }

    .write-message ::deep textarea {
        background: padding-box linear-gradient(var(--neutral-fill-input-rest), var(--neutral-fill-input-rest)), border-box var(--neutral-stroke-input-rest);
        border: calc(var(--stroke-width)* 1px) solid transparent;
        border-radius: calc(var(--control-corner-radius)* 1px);
        padding: calc(var(--design-unit)* 1.5px) calc(var(--design-unit)* 2px + 1px);
        resize: none;
    }

        .write-message ::deep textarea:hover {
            background: padding-box linear-gradient(var(--neutral-fill-input-hover), var(--neutral-fill-input-hover)), border-box var(--neutral-stroke-input-hover);
        }

        .write-message ::deep textarea:focus {
            outline: none;
            background: padding-box linear-gradient(var(--neutral-fill-input-focus), var(--neutral-fill-input-focus)), border-box var(--neutral-stroke-input-rest);
        }


.textarea-host {
    position: relative;
    height: 100%;
}

    .textarea-host:focus-within::after {
        content: '';
        position: absolute;
        height: calc(var(--focus-stroke-width)* 1px);
        bottom: 0;
        border-bottom: calc(var(--focus-stroke-width)* 1px) solid var(--accent-fill-rest);
        border-bottom-left-radius: calc(var(--control-corner-radius)* 1px);
        border-bottom-right-radius: calc(var(--control-corner-radius)* 1px);
        z-index: 2;
        transition: all 300ms cubic-bezier(0.1,0.9,0.2,1);
        width: 100%;
        left: 0;
        bottom: 0;
    }

.assistant {
    display: flex;
    flex-direction: column;
    height: 100%;
}
